{% extends "base.html" %}
{% block content %}
    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src= "{{url_for('static', filename = user.headshot)}}">
        </div>
        
        <h1>{{ title }}</h1>
        <h2 class="name">{{user.name}}</h2>
        <p class="tagline">{{user.tagline}}</p>
        <div class="button-group">
            {% for link in links %}
            <a href = "{{url_for(link.endpoint)}}" class = "btn">{{link.tagline}}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}