{% extends "base.html" %}
{% block content %}
    <div class="experience-section">
        <h2>Work Experience</h2>

        <h3 class="section-subtitle">Current Experience</h3>
        
        {% for item in exp.current %}
        <div class="experience-item">
            <h4>{{item.title}}</h4>
            <h5><strong>{{item.company}}</strong> | {{item.year}}</h5>
            <ul>
                {% for point in item.about %}
                <li>{{point}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        <h3 class="section-subtitle">Previous Experience</h3>
        {% for item in exp.past %}
        <div class="experience-item">
            <h4>{{item.title}}</h4>
            <h5><strong>{{item.company}}</strong> | {{item.year}}</h5>
            <ul>
                {% for point in item.about %}
                <li>{{point}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}